@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">A StockTickR sample app for Signal R.</p>
  <hr class="my-4">
      <p>
      </p>
  <p>Please provide us feedback via the <a href="https://www.devexpress.com/Support/Center/Question/Create">DevExpress Support Center</a>.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://demos.devexpress.com/aspnetcore-bootstrap" role="button" target="_blank">See Demos</a>
  </p>
</div>